{% extends "base.html" %}
{% block title %}My Order{% endblock title %}
{% include 'navbar.html' %}
{% include '_messages.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            Invoice: {{order.invoice}}
            <br>
            Status: {{order.status}}
            <br>
            Customer name: {{customer.username}}
            <br>
            Customer email: {{customer.email}}
            <br>
            Customer contact: {{customer.phone}}
            <br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for item in order_details %}
                {% set discount = "%0.0f"|format((item.discount/100) * item.price|float * item.quantity|int) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{item.product_name}}</td>
                    <td>{{"%.0f"|format(item.price)}}đ</td>
                    <td>{{item.quantity}}</td>
                    {% if item.discount > 0 %}
                    <td>{{item.discount}}% is {{discount}}đ</td>
                    {% else %}
                    <td>0%</td>
                    {% endif %}
                    <td>{{"%0.0f"|format(item.subtotal)}}đ</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><a href="/" class="btn btn-success">Check out!</a> </td>
                    <td></td>
                    <td colspan="2"><h4>Tax: {{"%.0f"|format(tax)}}đ</h4></td>
                    <td colspan="2"><h4>Total: {{"%.0f"|format(grand_total)}}đ</h4></td>
                    <td>
                        <form action="{{url_for('get_pdf', invoice=invoice)}}" method="post">
                        <button type="submit" class="btn btn-info">Xuất hóa đơn</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock content %}

