<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Thegioikhongcoem.com - {% block tittle %}{% endblock %}</title>
  </head>

  <body style="background-color: beige;">
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgb(255, 215, 55);width: 100%;"
    >
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="{{ url_for('static', filename='images/final_final_test_logo.png') }}"
            style="height: 40px; width: 228px"
          />
        </a>
        <form class="d-flex mx-5" action="/search" method="POST">
          <div class="input-group">
            <input
              class="form-control"
              name="search"
              type="text"
              placeholder="Search..."
              style="width: 350px;"
            />
            <button class="nav-item btn" type="submit">
              <img
                src="{{ url_for('static', filename='images/search_icon.png') }}"
                style="height: 20px; width: 20px"
              />
            </button>
          </div>
        </form>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link mx-5" id="cart" href="/cart">
              <img
                src="{{ url_for('static', filename='images/cart_icon.png') }}"
                style="width: 20px; height: 20px"
              />
              Cart</a
            >
            {% if customer.is_authenticated %}
            <a class="nav-item nav-link mx-4" id="logout" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item nav-link mx-5" href="/login">
              <img
                src="{{ url_for('static', filename='images/login_icon.png') }}"
                style="width: 20px; height: 20px"
              />
              Login
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgb(255, 215, 55)"
    >
      <div class="container d-flex">
        <a class="nav-item nav-link" href="/smartphone">
          <img
            src="{{ url_for('static', filename='images/icons/smartphone.png') }}"
            style="width: 20px; height: 20px"
          />
          Smartphone
        </a>
        <a class="nav-item nav-link" href="/laptop">
          <img
            src="{{ url_for('static', filename='images/icons/laptop.png') }}"
            style="width: 20px; height: 20px"
          />
          Laptop
        </a>
        <div class="nav-item dropdown">
          <img
            src="{{ url_for('static', filename='images/icons/phukien.png') }}"
            style="width: 20px; height: 20px"
          />
          <button class="btn dropdown-toggle" type="button"  aria-expanded="false">
            Accessories
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Headsets</a></li>
            <li><a class="dropdown-item" href="#">Chargers</a></li>
            <li><a class="dropdown-item" href="#">Mouses</a></li>
            <li><a class="dropdown-item" href="#">Keyboards</a></li>
            <li><a class="dropdown-item" href="#">Speakers</a></li>
          </ul>
        </div>
        <!-- hieu ung di chuot hien thi -->
        <style>
          .nav-item.dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
          }
        </style>
        
        <a class="nav-item nav-link" href="/tablet">
          <img
            src="{{ url_for('static', filename='images/icons/tablet.png') }}"
            style="width: 20px; height: 20px"
          />
          Tablet
        </a>
        <a class="nav-item nav-link" href="/smartwatch">
          <img
            src="{{ url_for('static', filename='images/icons/smartwatch.png') }}"
            style="width: 20px; height: 20px"
          />
          Smart Watchs
          
        </a>
      </div>
    </nav>

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if
      category=='error' %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
    </div>

    {% block content %}
    
    {% endblock %}

    <footer class="container-fluid justify-content-start mt-5" style="background-color: white;">
      <div class="container">
        <a class="mx-3" href="https://thegioididong.com">About Us</a>
        <a class="mx-3" href="https://github.com/KhaNguyen1204/Flask-Ecommerce">Contact Us</a>
      </div>
    </footer>

    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
