{% extends "base.html"%}

{% block tittle %}Điện thoại, Laptop, Phụ kiện, Đồng hồ chính hãng{% endblock %}

{% block content %}

<div class="container">
    <div class="row">


        <div class="col">
            
            <img src="../static/images/asus-vivobook-14-a1405va-i3-ly097w-170225-102753-517-600x600.jpg" style="width: 185px;">

            <div class="row mt-1">
                <h6>Asus Vivobook 14 A1405VA</h6>
            </div>

        </div>
        <div class="col">
            
            <img src="../static/images/asus-vivobook-14-a1405va-i3-ly097w-170225-102753-517-600x600.jpg" style="width: 185px;">

            <div class="row mt-1">
                <h6>Asus Vivobook 14 A1405VA</h6>
            </div>

        </div><div class="col">
            
            <img src="../static/images/asus-vivobook-14-a1405va-i3-ly097w-170225-102753-517-600x600.jpg" style="width: 185px;">

            <div class="row mt-1">
                <h6>Asus Vivobook 14 A1405VA</h6>
            </div>

        </div><div class="col">
            
            <img src="../static/images/asus-vivobook-14-a1405va-i3-ly097w-170225-102753-517-600x600.jpg" style="width: 185px;">

            <div class="row mt-1">
                <h6>Asus Vivobook 14 A1405VA</h6>
            </div>

        </div>
        <div class="col">
            
            <img src="../static/images/asus-vivobook-14-a1405va-i3-ly097w-170225-102753-517-600x600.jpg" style="width: 185px;">

            <div class="row mt-1">
                <h6>Asus Vivobook 14 A1405VA</h6>
            </div>

        </div>
        <div class="col">
            
            <img src="../static/images/asus-vivobook-14-a1405va-i3-ly097w-170225-102753-517-600x600.jpg" style="width: 185px;">

            <div class="row mt-1">
                <h6>Asus Vivobook 14 A1405VA</h6>
            </div>

        </div>



        
    </div>
</div>

{% endblock %}